<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CINEMETA</key>
	<string>$(CINEMETA)</string>
	<key>TORRENTIO</key>
	<string>$(TORRENTIO)</string>
	<key>MEDIAFUSION</key>
	<string>$(MEDIAFUSION)</string>
</dict>
</plist>
